.main {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.weather {
  background: rgba(255, 255, 255); /* Use a semi-transparent white color */
  backdrop-filter: blur(
    10px
  ); /* Apply a blur effect to create the glass effect */
  border-radius: 10px; /* Apply rounded corners */
  padding: 20px; /* Add some padding for spacing */

  /* Add shadow to enhance the effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* A light shadow */
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 50px auto;
}

.city {
  margin: 5px;
  font-size: 25px;
}

.mainicon img {
  filter: drop-shadow(rgba(255, 255, 255, 0.75) 0px 5px 30px);
  margin: 5px;
  width: 100px;
  height: auto;
}

.maintemp {
  font-size: 30px;
  margin: 5px;
  font-weight: bold;
}

.maintempdes {
  margin: 5px;
  font-style: italic;
}

.emojie {
  font-style: none;
  font-size: 18px;
}

.aqi {
  padding: 7px;
  width: 300px;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  color: black;
  border-radius: 7px;
}

.moreinfo {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 5px 0;
  gap: 40px;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 850px) {
  .weather {
    min-width: 0px;
  }
}
