.container {
  margin: 10px;
  padding: 20px;
  color: black;
}

.container h2 {
  margin: 10px 0;
}

.forcastCard {
  background: rgba(255, 255, 255); /* Use a semi-transparent white color */
  backdrop-filter: blur(
    10px
  ); /* Apply a blur effect to create the glass effect */
  border-radius: 10px; /* Apply rounded corners */
  padding: 10px; /* Add some padding for spacing */

  /* Add shadow to enhance the effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* A light shadow */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  font-size: 17px;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.icon img {
  /* filter: drop-shadow(rgba(255, 255, 255, 0.75) 0px 5px 30px); */
  width: 50px;
  height: auto;
}

.datetime {
  text-transform: lowercase;
}

.maintemp {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .container h2 {
    margin: 10px;
    text-align: center;
  }

  .forcastCard {
    width: 100%;
    border: 5px soild red;
  }
}
